<div ngClass="class_section_form">
    <div ngClass="class_form_announcement">
        <div ngClass="class_form_announcement_title_container">
            <div ngClass="class_form_announcement_title">Bienvenido a</div>
            <div ngClass="class_form_announcement_title">Chat Simulator</div>

            <div ngClass="class_form_announcement_subtitle">
                Chat Simulator es un simulador de chat en tiempo real el cual permite recibir y enviar mensajes, además de 
                guardar contactos y eliminarlos.
            </div>

            <div ngClass="class_form_announcement_icon" [innerHTML]="icon"></div>
        </div>

        <form [formGroup]="form" ngClass="class_form_container">
            <span ngClass="class_form_title">Iniciar sesión</span>

            <div ngClass="class_form_icon" [innerHTML]="iconLogin"></div>


            <div ngClass="class_form_field_container">
                <span ngClass="class_field_title">Ingresa tu usuario</span>
                <input formControlName="email"/>
            </div>

            <div ngClass="class_form_field_container">
                <span ngClass="class_field_title">Ingresa tu contraseña</span>
                <input type="password" formControlName="password"/>
            </div>
            
            
            <div ngClass="class_form_button_container">
                <span ngClass="class_form_message_error">{{messageLoginError}}</span>
                <br/>
                <button (click)="handleSubmit()" ngClass="class_form_button">INGRESAR</button>
                <button (click)="handleChangeTemplate()" ngClass="class_form_button_answer_account">¿No tienes una cuenta? Regístrate</button>
            </div>
            
        </form>
    </div>
</div>